@tailwind base;
@tailwind components;
@tailwind utilities;

select {
    @apply bg-gray-50;
    @apply border;
    @apply p-2;
    @apply focus:ring-blue-500;
    @apply border-gray-300;
    @apply rounded-lg;
    @apply text-sm;
    @apply font-medium;
    @apply text-gray-900;
    @apply dark:text-white;
}

.default-link {
    @apply hover:text-blue-500;
    @apply delay-75;
    @apply cursor-pointer;
}

p {
    @apply font-medium;

}

input {
    @apply border;
    @apply text-sm;
    @apply font-medium;
    @apply rounded-md;
    @apply border-gray-300;
    @apply px-1;
    @apply placeholder:text-gray-400;
    @apply placeholder:font-medium;
    @apply placeholder:italic;
    @apply py-1;
}

.default-button {
    @apply border;
    @apply font-medium;
    @apply text-gray-100;
    @apply rounded-md;
    @apply duration-75;
}

.default-button-padding {
    @apply px-5;
    @apply py-2;
}

.blue-button {

    @apply bg-blue-700;
}

.blue-button:hover {
    @apply bg-blue-800;
}

.blue-button:active {
    @apply bg-blue-900;
}

.red-button {
    @apply bg-red-500;

}

.red-button:hover {
    @apply bg-red-700;
}

.red-button:active {
    @apply bg-red-900;
}

.green-button {
    @apply bg-green-500;
    @apply hover:bg-green-700;
    @apply active:bg-green-900;
}